.user-field {
    border: 1px solid black;
    padding: 10px;
    text-transform: capitalize;
    background: white;
    display: flex;
}

.fields {
    display: flex;
}

.btn-start, .btn-reset {
    user-select: none;
    cursor: pointer;
}

.life-info {
    margin-right: 2px;
}

.reflex-header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 6px;
}

.reflex-interaction-container {
    border: 1px solid black;
}

.reflex-board-container {
    display: flex;
    justify-content: center;
    margin: 30px 0;
}

.fields {
    width: 140px;
}

.reflex-user-actions-container {
    display: flex;
    justify-content: center;
    margin: 30px 0;
}

.btn-start {
    margin-right: 3px;
}